<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" style="width: 80%"/><a></span>
            <!-- <p><a href="{{ site.baseurl }}/">YOU <br/> KNOW <br/> NOTHING</a></p> -->
            <profile><a href="{{ site.baseurl }}/">
                YOU <br/> KNOW <br/> NOTHING
            </a></profile>
            <br />
            <br />
            <p>
                功&nbsp;&nbsp;&nbsp;&nbsp;日<br/>
                不&nbsp;&nbsp;&nbsp;&nbsp;拱<br/>
                唐&nbsp;&nbsp;&nbsp;&nbsp;一<br/>
                捐&nbsp;&nbsp;&nbsp;&nbsp;卒
            </p>
        </header>
        <footer>
            <ul class="icons">
                <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> -->
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>
